.vscode
Heart_Attack.csv
california_housing.csv
Workshop2_Deep_Learning
cover_dataset.csv
lect
iris_dataset.csv
boston-dataset.npy
6787077_Saksit_Lab8 Evaluation.ipynb
housing-data.csv
HR_comma_sep.csv
student_dataset.csv
my_deeplearning_model.keras
ITDS251 Lecture
ITDS252 Lab